scikit-learn
pandas
seaborn
matplotlib
joblib
numpy
pyyaml
pytest
pytest-dependency
ipykernel
plotly
nbformat
xgboost
lightgbm
dvc
fastapi
fastapi-cli
uvicorn
prometheus-client
starlette-prometheus
requests
jinja2
python-multipart